@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply grid cursor-default gap-5 p-4 text-foreground md:grid-cols-[1fr_2fr_1fr] md:p-0;
  }
  .button {
    @apply w-32 rounded-lg p-4 text-[16px] text-primary transition-opacity duration-200;
  }
  .heading {
    @apply p-10 text-center text-3xl font-bold tracking-wide md:col-start-2;
  }
  .icon {
    @apply m-5 h-20 w-20;
  }
}

/* Custom color scrollbar */
:root {
  scrollbar-color: #bd93f9 #44475a;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #bd93f9;
}
::-webkit-scrollbar-track {
  background: #44475a;
}
